In [8]:
import pandas as pd
from collections import Counter

In [4]:
df = pd.read_csv('model_data_enc.csv', index_col = 0)

In [18]:
df.shape

(59013, 39)

In [12]:
pd.DataFrame(Counter(df['huc12_']).items()).sort_values(by = 1, ascending = False)

               0     1
78   20600020409  1011
135  20700111001   731
68   20700110102   731
20   20600060304   668
100  20503061713   645
..           ...   ...
343  20501050501     2
333  20501011205     1
340  20501050405     1
342  20501030301     1
344  20501011204     1

[345 rows x 2 columns]

In [9]:
df.columns

Index(['new_date', 'latitude', 'longitude', 'huc12_', 'areaacres', 'za_mean',
       'lc_21', 'lc_22', 'lc_23', 'lc_24', 'lc_31', 'lc_41', 'lc_42', 'lc_43',
       'lc_52', 'lc_71', 'lc_81', 'lc_82', 'lc_90', 'lc_95', 'month', 'year',
       'week', 'dayofweek', 'hour', 'min', 'quarter', 'airtemp_narr',
       'precip3_narr', 'humidity_narr', 'cl_cover_narr', 'sfc_runoff',
       'windspeed_narr', 'wdirection_narr', 'precip24_narr', 'precip48_narr',
       'of_dist', 'tn', 'huc12_enc'],
      dtype='object')

In [16]:
df_30 = df[df['tn'] > 30]

In [17]:
df_30.shape

(45, 39)

In [20]:
df_30[df_30['tn'] > 50].shape

(23, 39)